.top-text {
  background-color: #091217;
  color: lightblue;
  text-align: center;
}

.meat {
  background-color: lightgrey;
  padding: 1em;
}

body {
  background-image: url("record.png");
  margin: 0px;

}
